<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="https://fonts.googleapis.com/css?family=Merienda|Noto+Serif+JP|Taviraj&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
</head>
<div class="header">
 
     <img class ="logoimage" src="media/logo.png" alt="logo">

      <div class="header-right">
      <a href = "/"> HOME</a>
      <a href = "/about"> ABOUT US</a>
      <a href = "/contact"> CONTACT US</a>
  </div>  
</div>
<body>
 <div class = "container">
     


