<% include ../views/partials/header %>
<h1>Contact</h1>
<p> <%= connn %></p>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1981.6862167822874!2d25.06960551601828!3d60.21902268197894!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x469208d22d18f05d%3A0xa1f7a15f5d8cd1d4!2sAlakivenpuisto!5e0!3m2!1sen!2sfi!4v1563437607091!5m2!1sen!2sfi" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>

<% include ../views/partials/footer %>